

body{
    margin: 0;

}

h1 {
    margin: 100;
    color: whitesmoke;
    padding: 50px;
    justify-content: center;
    text-align: center;
    border: 1px;
    font-family: countryside;
    font-size: 5vw;
}

/*h2 {
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border: 2px;
    font-size: 5vw;
    font-family: countryside;
}*/

.imagewrapper{
    width: 100%;
    height: 100vh;
    background-image: url("background4.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    float: left;

  }
  
  li a {
   display: block;
    color: rgb(9, 60, 170);
    padding: 16px;
    font-size: 1.5vw;
    font-family: countryside;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }
  
  li a:hover {
    background-color: #ffffff;
  }

